*{
	margin: 0;
	padding: 0;
}
.wrap{
	width: 100%;
	background: #f1f2f6;
	font-family: "kaiti";
}
/* 头部 */
.header{
	width: 100%;
	height: 120px;
	background: #322246;
}
.inner{
	width: 1100px;
	margin: 0 auto;
	position: relative;
}
/* 头部log */
.header-log{
	width: 380px;
	height: 120px;
	float: left;
}
/* 头部导航 */
.header-nav{
	width: 571px;
	height: 120px;
	float: right;
}
ul{
	list-style: none;
}
a{
	text-decoration: none;
}
.header-nav li{
	margin-left: 20px;
	/* height: 120px; */
	float: left;
	text-align: center;
	position: relative;
}
.header-a{
	color: #fefefe;
	line-height: 120px;
}
.header-nav img{
	vertical-align: middle;
}
.header-hidden{
	width: 180px;
	background: #322246;
	position: absolute;
	top: 90px;
	left: 0px;	
	display: none;
	z-index: 99;
}
.header-hidden a{
	width: 180px;
	display: block;
	height: 40px;
	color: #fefefe;
	line-height: 40px;
}
.navLi:hover .nHidden{
	display: block;
}
/* 内容 */
.body{
	width: 100%;
}
.content{
	width: 100%;
	background: #fff;
}
/* 内容标题 */
.box{
	width: 100%;
	text-align: center;
}
.title{
  font-size: 54px;
  color: rgb( 49, 24, 89 );
  margin-top: 50px;
}
.box-p{
  font-size: 18px;
  font-family: "Arial";
  color: rgb( 49, 24, 89 );
  line-height: 0.889;
  letter-spacing: 5px;
}
/* 内容主体 */
.content-box{
	width: 100%;
}
.inner1{
	width: 780px;
	height: 100%;
	margin: 0 auto;
}
/* 内容头 */
.list-title{
	width: 100%;
	height: 60px;
	position: relative;
	margin-top: 30px;
}
.list-p{
	font-size: 30px;
    color: rgb( 49, 24, 89 );
}
.list-line{
	width: 720px;
	height: 20px;
	background: url(../img/aboutxiaoniao/list-line_03.png)no-repeat;
	position: absolute;
	bottom: 0px;
	left: 0px;
}
.pen{
	width: 60px;
	height: 54px;
	position: absolute;
	top: -4px;
	right: 0px;
}
.list-time{
	width: 119px;
	height: 13px;
	font-size: 14px;
	color: rgb( 107, 106, 111 );
	position: absolute;
	bottom: -20px;
	left: 0px;
}
/* 内容身体 */
.content-body{
	width: 100%;
	margin-top: 50px;
}
.content-txt{
	width: 100%;
	margin-top: 30px;
}
h3{
  font-size: 24px;
  color: rgb( 71, 70, 74 );
  line-height: 1;
  margin-top: 20px;
  margin-bottom: 20px;
}
.content-txt p{
	font-size: 18px;
	color: rgb( 71, 70, 74 );
	line-height: 1;
}
.content-txt-p{
	text-indent: 2em;
	margin-top: 20px;
	margin-bottom: 20px;
}
/* 爱心 */
.love{
	width: 74px;
	height: 74px;
	background: url(../img/article_iflike.png)no-repeat;
	margin: 50px auto;
	position: relative;
}
.love:hover{
	background-position: 0px -74px;
}
.love-line{
	width: 135px;
	height: 35px;
	background: url(../img/article_iflike_nomberbg.png)no-repeat;
	position: absolute;
    top: 20px;
    right: -140px;
	font-size: 16px;
	color: rgb( 255, 255, 255 );
	line-height: 35px;
	text-align: center;
}
/*  娘娘威武 */
.niangniang{
	width: 260px;
	height: 86px;
	background: #f1f2f6;
	font-size: 24px;
	color: rgb( 49, 24, 89 );
	margin: 50px auto;
	line-height: 86px;
	text-align: center;
	border-radius: 8px;
}
/* 底部 */
.footer{
	width: 100%;
	height: 370px;
	background: url(../img/aboutxiaoniao/xq-footer_02.png)no-repeat bottom center;
}
.footer-content{
	width: 100%;
	height: 220px;
	border-bottom: 1px dashed #938b9d;
	padding-top: 50px;
}
.footer-content ul{
	width: 560px;
	height: 220px;
	margin: 80px auto;
}
.footer-content li{
	float: left;
	margin-left: 20px;
}
.footer-pic{
	width: 60px;
	height: 60px;
	background: url(../img/yinyue_duo.png)no-repeat;
	background-position: 0px 3px;
}
.footer-pic1{
	width: 60px;
	height: 60px;
	background: url(../img/yinyue_lai.png)no-repeat;
	background-position: 0px 3px;
}
.footer-pic2{
	width: 60px;
	height: 60px;
	background: url(../img/yinyue_mi.png)no-repeat;
	background-position: 0px 3px;
}
.footer-pic3{
	width: 60px;
	height: 60px;
	background: url(../img/yinyue_fa.png)no-repeat;
	background-position: 0px 3px;
}
.footer-pic4{
	width: 60px;
	height: 60px;
	background: url(../img/yinyue_suo.png)no-repeat;
	background-position: 0px 3px;
}
.footer-pic5{
	width: 60px;
	height: 60px;
	background: url(../img/yinyue_la.png)no-repeat;
	background-position: 0px 3px;
}
.footer-pic6{
	width: 60px;
	height: 60px;
	background: url(../img/yinyue_xi.png)no-repeat;
	background-position: 0px 3px;
}
.footer-lianxi{
	width: 240px;
	height: 170px;
	position: absolute;
	top: 55px;
	right: -100px;
}
.top{
	width: 58px;
	height: 58px;
	float: right;
}
.footer-lianxi-tu{
	width: 250px;
	height: 90px;
	margin-top: 80px;
}
.shengming{
	width: 80px;
	height: 20px;
	margin: 20px auto;
	font-size: 17.405px;
	color: rgb( 255, 255, 255 );
}
